move_left l
move_right h

move_down <C-e>
move_up <C-y>

toggle_statusbar y
# toggle_dark_mode i
toggle_custom_color i

zoom_in <C-i>
zoom_out <C-o>

# fit_to_page_height_smart b
# fit_to_page_width_smart w
fit_to_page_height b
fit_to_page_width w

previous_page <C-h>
next_page <C-l>

new_window <C-n>
close_window q

add_bookmark B
add_highlight H
overview_definition L

visual_mark_under_cursor <C-v>
